@media screen and (max-width:600px) {

/* Main */
  .row{

  }
  .col1{
    width: 100%;
  }
  .col2{
    width: 100%;
  }
  .card1{
    padding: 0px 50px;
    text-align: center;
  }
  .card2{
    padding:0px 5px;
    margin-top: 0px;
  }
  .fab{
    font-size: 30px;
    padding-left: 5px;
  }
  .fab:hover{
    font-size: 30px;
    padding-left: 5px;
    color: #ffcc00;
  }
/* About */
  .about{
    padding-top: 15px;
  }

  .about-col1{
    width: 100%;
    margin-left: 0px;
  }
  .about-col2{
    width: 100%;
    margin-left: 0px;
    padding: 25px 0px;
  }
  .about-card1{
    padding:0px;
  }
  .about-card2{
    padding: 25px 45px;
    margin-left: 0px;
    text-align: justify;
  }

  .over{
    margin-top:-50px;
  }


  .about-img{
    width: 100%;
  }

/* Skills */
  .skill-col1{
      width: 100%;
      margin-left: 0%;
      padding: 15px;
  }

  .skill-card1{
    padding:5px 10px;
    margin-top: 25px;
  }
  /* .skill-card2{
    padding: 25px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  } */
  .per{
    margin-top: 10px;
    margin-left: 5px;
  }

  progress {
    width: 80%;
  }

/* Projects */
  .project-row {padding:0px 20px;}

  .project-col {
    width: 100%;
    padding: 20px 15px;
  }

  .project-card {
    padding:25px;
    padding-bottom: 35px;
  }

/* Contact   */
  .contact-row {padding:  0px 0px;}

  .contact-col {
    width: 100%;
  }

  .contact-card1 {
    margin-top: 5px;
    padding:25px;
  }
  .contact-card2 {
    padding:25px;
  }

  /* Footer */
  .footer {
     position:  relative;
     left: 0;
     bottom: 0;
     width: 100%;
     padding: 25px;
     background-color: #ffd633;
     color: black;
     text-align: center;
  }

/* Goto Top */
  #go-top{
   bottom: 30px;
   right: 20px;
   padding:5px 10px;
  }
  #go-top:hover{
   bottom: 30px;
   right: 20px;
   padding:5px 10px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 24px;
  }
}
progress::-webkit-progress-bar {
    background: transparent;
}
progress::-webkit-progress-value {
  border-radius: 15px;
  background: #ffd633;
}
